@charset "UTF-8";
.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.full-text {
  text-align: justify; }

.section-fullscreen {
  height: 100vh;
  position: relative;
  top: -64px; }

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -999; }

[type="radio"] + label:before,
[type="radio"] + label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  margin: 0px;
  width: 18px;
  height: 18px;
  z-index: 0;
  transition: 0.28s ease; }

.divider-5 {
  margin: 5px; }

nav {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

nav.invert {
  background: rgba(255, 255, 255, 0.85); }
  nav.invert .icon-logo, nav.invert .button-collapse {
    color: #f57f17; }

nav.invert.nav-transparent .icon-logo, nav.invert.nav-transparent .button-collapse {
  color: white; }

nav.nav-transparent#nav-transparent {
  background: none;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00000000',GradientType=0 );
  box-shadow: none;
  height: 46px; }

nav .button-collapse i.icon-menu {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7); }

nav ul a {
  padding: 0 10px; }

nav.nav-transparent ul a:hover {
  border-bottom: 1px solid #f57f17; }

.parallax-container {
  margin-top: -64px;
  z-index: -999; }

.garage-info {
  top: -100px;
  font-weight: 300; }
  .garage-info .name {
    font-size: 24px;
    line-height: 24px; }
  .garage-info .garage-logo {
    margin: 0.82rem 0 0.656rem 0; }
  .garage-info .brands {
    height: auto; }
    .garage-info .brands img {
      height: 50px;
      margin: 10px; }

.collection-item .brands {
  top: 65px !important; }
  .collection-item .brands p {
    margin: 6px 7px !important; }
  .collection-item .brands img {
    width: 50px;
    height: auto;
    max-width: 50px;
    max-height: 28px;
    margin: 0 5px; }

.garage-map {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -900;
  margin-top: 500px;
  height: 350px;
  overflow: hidden;
  border: none; }
  .garage-map .overlay {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

.garage-map-inline {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-out;
  margin-top: 40px;
  height: 350px; }

.garage-info {
  top: 0; }

.garage-about {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 40px;
  min-height: 350px; }
  .garage-about h4 {
    font-size: 24px; }
  .garage-about p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify; }

.garage-feedbacks .header {
  padding: 10px 0; }
  .garage-feedbacks .header .btn {
    border-radius: 0; }
.garage-feedbacks .feedback {
  margin: 10px 0;
  font-weight: 300; }
  .garage-feedbacks .feedback .user .profile-pic {
    width: 40%;
    margin: 0 0 5% 30%;
    padding: 0;
    border-radius: 50%; }
  .garage-feedbacks .feedback .user .name {
    text-align: center;
    margin: auto; }
  .garage-feedbacks .feedback .feedback-content .date {
    font-size: 0.8em; }

.parallax-container.user-profile {
  height: 300px;
  margin-bottom: -130px; }

.parallax-container.garage-profile {
  height: 300px;
  margin-bottom: -130px; }

.home-features {
  height: 150px;
  margin-top: -150px;
  font-style: 48px; }

.collection .collection-item.avatar .title {
  font-size: 22px; }

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -998;
  background: rgba(0, 0, 0, 0.5); }

.material-icons {
  top: 3px;
  position: relative; }

.car-icon {
  width: 42px;
  height: 42px;
  background: url("../images/car_logo/car_logo_PNG1644.png") 100% 100%/100% 100% no-repeat; }

.collection span.icon {
  font-size: 28px; }
.collection span.title {
  font-size: 28px; }

#extra-works {
  display: none; }

.collapsible {
  box-shadow: none;
  border: none; }
  .collapsible * {
    border-bottom: none; }

.btn-line {
  color: #607d8b;
  background: none;
  border: 1px #607d8b solid;
  box-shadow: none; }

.btn-line:hover {
  color: #fff;
  background: #607d8b; }

#feedback-form {
  display: none; }

#feedback-btn {
  position: relative; }

body > .divider {
  margin: 30px 0; }

.feature .feature-item {
  margin: 40px 0; }

.how-video {
  height: 300px;
  margin-top: 0; }
  .how-video .parallax {
    position: relative; }
  .how-video img {
    z-index: -1; }
  .how-video h6 {
    margin-top: 120px;
    color: white; }

.icon-logo {
  line-height: 64px !important; }

#landing-page-text {
  margin: 0;
  padding: 0;
  height: 200px; }

.service-options, .service-options-header, .service-form {
  overflow: hidden;
  width: 100%;
  display: none; }

.service-options-header {
  display: block;
  height: 500px; }

.service-options-item .servicinfo {
  padding: 10px 10px 0 10px;
  border-top: 1px solid #e0e0e0;
  margin: 15px 0; }
.service-options-item .service-name {
  padding-top: 5px; }

#service-options-header-text {
  display: none;
  margin: 0px;
  height: 24px; }

.service-form .card .card-action a {
  color: #fff !important; }
.service-form .card-content {
  padding: 0 20px; }

.service-form .service-form-btn:after {
  content: "Go to step 2"; }

.service-form.step-2 .service-form-btn:after {
  content: "Go to step 3"; }

.service-form.step-3 .service-form-btn:after {
  content: "Submit"; }

.service-form-btn {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16); }

.service-form-header {
  color: #f57f17;
  border-bottom: 1px solid grey;
  line-height: 24px; }
  .service-form-header h5 {
    font-size: 1.7rem;
    padding: 15px 20px;
    margin: 0; }
  .service-form-header .close-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    width: 54px;
    height: 54px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4); }

.service-form-label {
  margin-top: 20px;
  font-style: italic;
  color: orange; }

.service-form-step {
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-out; }

.one {
  display: block; }

@media only screen and (min-width: 601px) {
  .service-form {
    overflow: hidden;
    width: 70%;
    float: right;
    height: 600px; }

  .service-form-step {
    position: absolute;
    left: 100%;
    display: block;
    height: 480px;
    overflow: scroll; }

  .one {
    left: 0; }

  .two {
    width: 85%; }

  .three {
    width: 70%; }

  .service-form.step-2 {
    width: 85%; }
    .service-form.step-2 .one {
      background: gainsboro; }
    .service-form.step-2 .two {
      left: 15%;
      box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.16); }

  .service-form.step-3 {
    width: 100%; }
    .service-form.step-3 .two {
      left: 15%;
      background: gainsboro; }
    .service-form.step-3 .three {
      left: 30%;
      box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.16); } }
.file-path.validate {
  font-size: 1rem !important; }

.service-form.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: white; }

.service-options .card .card-content {
  padding: 10px 10px 0 10px; }

.mobile-form {
  min-height: 100vh; }
  .mobile-form .card .card-action {
    border-radius: 0 0 2px 2px;
    text-align: right;
    width: 100%; }
    .mobile-form .card .card-action a {
      margin-right: 0 !important; }
  .mobile-form .card h5.card-icon {
    font-size: 54px;
    margin: 0; }
  .mobile-form .card .card-title {
    line-height: 24px;
    font-size: 2rem; }
  .mobile-form .card p {
    margin: 0; }
  .mobile-form #step1 {
    display: block; }
  .mobile-form textarea.materialize-textarea {
    padding: 0; }
  .mobile-form input:not([type]), .mobile-form input[type=text], .mobile-form input[type=password], .mobile-form input[type=email], .mobile-form input[type=url], .mobile-form input[type=time], .mobile-form input[type=date], .mobile-form input[type=datetime], .mobile-form input[type=datetime-local], .mobile-form input[type=tel], .mobile-form input[type=number], .mobile-form input[type=search], .mobile-form textarea.materialize-textarea {
    font-size: 1.3rem;
    margin: 0; }
  .mobile-form .collection {
    border: none; }

.mobile-form .card #step4 {
  padding: 0; }

.service-form-step.three {
  padding: 0; }
  .service-form-step.three h6 {
    margin-left: 0.75em;
    margin-right: 0.75em; }

.auto-pick, .user-pick {
  padding: 0;
  padding-bottom: 20px;
  position: absolute;
  width: 100%; }

.garage-list-toggle {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: #ffffff;
  padding: 10px; }

.garage {
  padding-left: 60px !important;
  min-height: 60px !important; }
  .garage img {
    left: 0.75em !important; }

.user-pick .garage:hover {
  cursor: pointer; }
.user-pick .garage.selected {
  background: rgba(0, 0, 0, 0.1); }

.hide {
  display: none; }

.mobile-form a.dropdown-button {
  padding: 0 5px; }
.mobile-form .collection .collection-item.avatar .circle {
  left: 0; }
.mobile-form .collection-item .avatar {
  padding-left: 58px;
  padding-right: 0; }

@media only screen and (max-width: 600px) {
  .collection .collection-item.avatar {
    padding-left: 54px; }

  i.secondary-content {
    font-size: 1.2rem; }

  .collection .collection-item.avatar .circle {
    left: 5px; }

  .collection-item .brands p {
    display: none; }
  .collection-item .brands img {
    width: auto;
    height: 20px;
    margin: 0 3px; } }
.partners-container {
  margin-top: 30px;
  padding-bottom: 20px; }

.partners i {
  font-size: 1.7rem;
  padding: 20px;
  text-align: center;
  line-height: 4rem; }

#service-type-picker-header-text {
  display: none; }

@media only screen and (max-width: 600px) {
  .auto-pick, .user-pick, #garage-list-toggle {
    position: relative;
    bottom: 0; }

  .services-wrapper {
    padding-top: 20px; }

  .service-form {
    width: 100%;
    float: none; }

  .formOpened > .container:not(.services-wrapper), .formOpened > footer {
    overflow: hidden;
    display: none; }

  .formOpened #floating-contant-btn {
    display: none; }
  .formOpened .container {
    width: 100%; }
  .formOpened .services-wrapper {
    align-items: flex-start;
    top: 58px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff; }
  .formOpened .service-form-step {
    border-radius: 0;
    box-shadow: none;
    display: none;
    margin-bottom: 42px;
    height: calc(100vh); }
  .formOpened .card {
    box-shadow: none; }
  .formOpened .one {
    display: block;
    margin-top: 90px; }

  .service-form.step-2 .two {
    display: block; }
  .service-form.step-2 .one {
    height: auto; }

  .service-form.step-3 .three {
    display: block; }
  .service-form.step-3 .two {
    height: auto; }

  .service-form-header h5 {
    padding: 15px 20px; }

  .service-form-header {
    position: fixed;
    top: 56px;
    width: 100%;
    background: #fff;
    z-index: 99;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

  .service-form-btn {
    position: fixed !important; } }
.register-login-modal a {
  margin: 10px 0;
  cursor: pointer;
  color: #455a64 !important; }
.register-login-modal a:hover {
  text-decoration: underline; }

.social-login-btn {
  margin-bottom: 20px; }

.rememberme {
  margin-top: 7px; }

.how-video .parallax {
  height: 300px;
  cursor: pointer; }

.video-how-it-works-modal-trigger:hover h5, .video-how-it-works-modal-trigger:hover h6 {
  opacity: 0.6; }

.about-us-contact-icon:hover {
  color: #0077B5; }

.team-member {
  margin-top: 50px; }

.mission {
  padding: 30px;
  position: relative;
  top: -50px; }

.messages-list {
  height: 350px;
  overflow: scroll; }

.input-field {
  margin-top: 1.5rem; }
  .input-field label {
    left: 0rem;
    font-size: 1rem; }

.input-field label.active {
  left: 0rem;
  font-size: 1rem;
  opacity: 0.8; }

.service-form p {
  margin-top: 1rem !important; }

div.picker + div:after {
  color: rgba(0, 0, 0, 0.26); }

@media only screen and (min-width: 601px) {
  .auto-pick {
    padding-top: 50px; } }
.switch label .lever {
  margin: 0; }

.service-form.type-1 .service-form-header .icon-:before {
  content: ""; }
.service-form.type-1 .service-form-header .title:after {
  content: " Easy service"; }

.service-form.type-2 .service-form-header .icon-:before {
  content: ""; }
.service-form.type-2 .service-form-header .title:after {
  content: " Official service"; }

.service-form.type-3 .service-form-header .icon-:before {
  content: ""; }
.service-form.type-3 .service-form-header .title:after {
  content: " Custom service"; }

/*# sourceMappingURL=1style.css.map */
